# .gitignore - Tell Git which files to avoid tracking.

# local dirs and files
notebooks_local/
mscore*/
*.log

# Binary and generated formats
*.mscz
*.mxl
# *.musicxml
*.pdf
*.png
*.mid
*.wav
*.mp3
*.zip

# yolo related files
yolov8m.pt
*_yolo_bboxs.txt

# lmx files
*.lmx
*.lmxe

# Backup and temporary files
.mscbackup
.*.mscx,
.*.mscz,
*~
.*

# transfered files
local*
local*/

# System files
.DS_Store
__pycache__/

# Unignores: restore tracking for these files that would otherwise be ignored
!/data/code-plots/*.pdf
