[submodule "modules/svdp"]
	path = modules/svdp
	url = git@github.com:MALerLab/score-video-data-preprocessor.git
	branch = ossq
[submodule "modules/lmxe"]
	path = modules/lmxe
	url = git@github.com:MALerLab/lmxe.git
	branch = sqlmx
