# .gitignore - Tell Git which files to avoid tracking.

# local dirs and files
notebooks_local/
*.log
logs/

# Binary and generated formats
*.mscz
*.mxl
*.pdf
*.png
*.mid
*.wav
*.mp3
*.zip

# yolo related files
yolov8m.pt
*_yolo_bboxs.txt

# symbolic music files
/scores/*/*/kern/
/scores/*/*/musicxml/
/scores/*/*/lmxe/

# Backup and temporary files
scores_*/
.mscbackup
.*.mscx,
.*.mscz,
*~
.*
temp/

# transfered files
local*
local*/

# System files
.DS_Store
__pycache__/

# Unignores: restore tracking for these files that would otherwise be ignored
!/data/code-plots/*.pdf
