# .gitignore - Tell Git which files to avoid tracking.
notebooks_local/

# Binary and generated formats
*.mscz
*.mxl
# *.musicxml
*.pdf
*.png
*.mid
*.wav
*.mp3
*.zip

# lmx files
*.lmx
*.lmxe

# Backup and temporary files
.mscbackup
.*.mscx,
.*.mscz,
*~
.*

# System files
.DS_Store
__pycache__/

# Unignores: restore tracking for these files that would otherwise be ignored
!/data/code-plots/*.pdf
