[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "~=1.24.4"
antlr4-python3-runtime = ">=4.13.2"
scikit-image = "==0.20.0"
scikit-learn = "==1.2.1"
strictyaml = "*"
matplotlib = "*"
tqdm = "*"
pandas = "*"
wandb = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
ultralytics = "*"
pdfplumber = "*"
converter21 = "*"
music21 = "*"
kernpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
