[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
ipywidgets = "*"
opencv-python = "*"
numpy = "~=1.24.4"
antlr4-python3-runtime = ">=4.13.2"
scikit-image = "==0.20.0"
scikit-learn = "==1.2.1"
strictyaml = "*"
matplotlib = "*"
tqdm = "*"
pandas = "*"
wandb = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
ultralytics = "*"
pdfplumber = "*"
music21 = ">=9.7"
converter21 = ">=3.5"
musicdiff = "*"
kernpy = "*"
Levenshtein = ">=0.24.0"
zss = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
